body{
    padding: 0;
    margin: 0;
    height:2000px;
    width:1400px;
    background-color:aliceblue;
}
.x {
    position: absolute;
    top: 650px;
    left:1100px;
    mix-blend-mode: initial;
    background-color: none;
    width: 300px;
    height: 300px;
    
    
}
    


.y {
    color: blue;
    font-family: cursive;
    position: absolute;
    left: 500px;
    opacity:0;
}

.base {
    width: 1440px;
    height: 800px;
    background-image: url(Picsart_25.png);
    background-size:cover;
    background-repeat:no-repeat;
}


.img1 {
    height: 70px;
    width: 90px;
    position: absolute;
    top: 900px;
    left: 100px;
    mix-blend-mode: multiply;
}
.img1:hover{
    opacity:0.5;
}
.imgj {
   
    width: 00px;
    position: absolute;
    top: 965px;
    left: 120px;
  
}

    .imgj:hover {
        color: chartreuse;
        
    }

.img3 {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 900px;
    left: 250px;
    
}

.i {
    height: 00px;
    width: 60px;
    position: absolute;
    top: 958px;
    left: 243px;
   
    color: black
}
.img3:hover {
    opacity: 0.5;
}
.i:hover {
    color: chartreuse;
}

.img5 {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 900px;
    left: 415px;
    mix-blend-mode: darken;
}

.instagram {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 960px;
    left: 413px;
    color: purple
}

    .instagram:hover {
        color: chocolate;
    }
    .img5:hover{
        opacity:0.5;
    }

.img7 {
    height: 80px;
    width: 84px;
    position: absolute;
    top: 895px;
    left: 608px;
    mix-blend-mode: darken;
}

.youtu {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 960px;
    left: 616px;
    color: red
}

    .youtu:hover {
        color: chartreuse;
    }
    .img7:hover{
        opacity:0.5;
    }

.img9 {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 900px;
    left: 835px;
    mix-blend-mode: darken;
}

.tikt {
    height: 0px;
    width: 60px;
    position: absolute;
    top: 960px;
    left: 823px;
    color: black
}

    .tikt:hover {
        color: chartreuse;
    }

    .img9:hover{
        opacity:0.5;
    }

.img10 {
    height: 90px;
    width: 115px;
    position: absolute;
    top: 1080px;
    left: 75px;
    mix-blend-mode: darken;
}

.fa {
    height: 00px;
    width: 60px;
    position: absolute;
    top: 1150px;
    left: 100px;
    color:blue;
}

    .fa:hover {
        color: chartreuse;
        
    }

    .img10:hover{
        opacity:0.5;
        
        
    }

.img12 {
    height: 1100px;
    width: 800px;
    position: absolute;
    top: 1500px;
    left:0px;
    mix-blend-mode: darken;
    animation-name: moh;
    animation-duration: 2s;
    animation-delay: 2s;
    
    
}

.img14 {
    height: 300px;
    width: 600px;
    position: absolute;
    top: 1000px;
    left: 200px;
    mix-blend-mode: multiply;

}
.img14:hover{
    opacity:0.8;
}

.meee {
    height: 0px;
    width: 100px;
    position: absolute;
    top: 2077px;
    left:945px;
    font-family:Cambria;
    font-size:20px;
    
}

.laka {
    height: 900px;
    width: 1440px;
    filter:grayscale(100%);
}
.laka:hover{
    filter:grayscale(0%);
}

.para {
    height: 0px;
    width: 1000px;
    position: absolute;
    left: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px
}

.gif {
    height: 170px;
    width: 170px;
    position: absolute;
    top: 900px;
    right: 50px;
    mix-blend-mode: darken;
}

.meee:hover {
    color: brown;
}

.looka {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    mix-blend-mode: screen;
    cursor:context-menu;
}


.game {
    height: 0px;
    width: 100px;
    position: absolute;
    top: 2164px;
    left: 945px;
    font-family: Cambria;
    font-size: 20px;
}

    .game:hover {
        color: chartreuse;
    }


.sahm {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 1880px;
    left: 750px;
    mix-blend-mode:luminosity;
    opacity:1;
}


.pp {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
    margin:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nido{
    
    
    position:absolute;
    height:0px;
    width:700px;
    top:150px;
    right:550px;
    font-size:80px;
    font-family:'Franklin Gothic';
    color:blue;
    opacity:0;

}


.nazuna{
    height:130px;
    width:180px;
    position:absolute;
    top: 30px;
    right: 670px;
    mix-blend-mode:darken;
    opacity:0;
    
}
.wel {
    height: 100px;
    width: 250px;
    position: absolute;
    mix-blend-mode:exclusion;
    top:790px;
    left:425px;
}
.sal {
    height: 200px;
    width: 330px;
    position: absolute;
    top: 870px;
    left: 1100px;
    mix-blend-mode: darken
}

.des{
    height:0px;
    width:00px;
    position:absolute;
    top:0px;
    right:0px;
    mix-blend-mode:multiply;
    opacity:0;
}

.conver{
    height:400px;
    width:600px;
    position:absolute;
    top:2700px;
    left:100px;
    mix-blend-mode:darken;


}
.molo{
    height:300px;
    width:600px;
    position:absolute;
    top:2450px;
    left:400px;
    mix-blend-mode:darken;
}

.isti{
    height:0px;
    width:400px;
    position:absolute;
    top:2800px;
    left:750px;
    font-size:40px;
    font-family:Bahnschrift;

}

.gmail{
    height:0px;
    width:250px;
    position:absolute;
    top:2689px;
    left:250px;
    font-size:25px;
    color:blue;
    font-family:Constantia;
    cursor:grab;
}
.gmail:hover{
    color:mediumvioletred;
}

.div01{
    height:500px;
    width:1440px;
    background-color:yellow;
    border: 0px black solid;
    position:absolute;
    top:2600px;
    opacity:0.7;

}

.tell{
    width:1100px;
    position:absolute;
    top:1360px;
    left:115px;
    font-size:40px;
    font-family:Impact;

}
.naruto01{
    height:300px;
    width:300px;
    position:absolute;
    top:200px;
    left:550px;
    mix-blend-mode:multiply;


}

.copyright{
    width:200px;
    position:absolute;
    top:3050px;
    right:45px;
    opacity:1;
    color:black;
}

.web2 {
    width: 100px;
    position: absolute;
    top: 2440px;
    left: 1040px;
    background-color: mediumvioletred;
    border: 3px black solid;
    cursor: grab;
    border-radius: 5px;
}

.movie03{
    width:450px;
    
    position: absolute;
    top:2330px;
    left:838px;
    font-size:30px;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           

}

.web2:hover{
    background-color:transparent;
}

@keyframes moh{
    0%{
        transform:translateX(0px);
    }
    50% {
        transform: translateX(17px);
    }
    100% {
        transform: translateX(0px);
    }
}




@media (max-width:580px ){
    html,body {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow-x:hidden;
        background-color: aliceblue;
    }



    .y {
        height: 20px;
        color: brown;
        position: absolute;
        top: 420px;
        left: 55px;
        
    }

    .base {
        width: 480px;
        height: 330px;
        position:absolute;
        left:0px;
        
    }


    .img1 {
        height: 70px;
        width: 90px;
        position: absolute;
        top: 580px;
        left: 198px;
        mix-blend-mode: multiply;
    }

    .x {
        position: absolute;
        top: 650px;
        left: 140px;
        mix-blend-mode: initial;
        background-image: none;
        width: 200px;
        height: 200px;
    }

    .imgj {
        height: 00px;
        width: 60px;
        position: absolute;
        mix-blend-mode: multiply;
        top: 555px;
        left: 205px;
    }

    .img3 {
        height: 70px;
        width: 70px;
        position: absolute;
        top: 616px;
        left: 100px;
        mix-blend-mode: darken;
    }

    .i {
        height: 00px;
        width: 60px;
        position: absolute;
        top: 590px;
        left: 97px;
        mix-blend-mode: multiply;
        color: black
    }

    .img5 {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 720px;
        left: 69px;
        mix-blend-mode: darken;
    }

    .instagram {
        height: 0px;
        width: 60px;
        position: absolute;
        top: 690px;
        left: 65px;
        color: purple
    }

    .img7 {
        height: 75px;
        width: 80px;
        position: absolute;
        top: 720px;
        left: 346px;
        mix-blend-mode: darken;
    }

    .youtu {
        height: 00px;
        width: 60px;
        position: absolute;
        top: 700px;
        left: 350px;
        color: red
    }

    .img9 {
        height: 60px;
        width: 60px;
        position: absolute;
        top: 860px;
        left: 216px;
        mix-blend-mode:normal;
    }

    .tikt {
        height: 0px;
        width: 60px;
        position: absolute;
        top: 903px;
        left: 204px;
        color: black
    }

    .img10 {
        height: 80px;
        width: 110px;
        position: absolute;
        top: 817px;
        left: 295px;
        mix-blend-mode: darken;
    }

    .fa {
        height: 00px;
        width: 60px;
        position: absolute;
        top: 867px;
        left: 320px;
        color: black
    }

    .img12 {
        height: 1000px;
        width: 460px;
        position: absolute;
        top: 1500px;
        left: 0px;
        mix-blend-mode: darken;
    }

    .meee {
        height: 0px;
        width: 80px;
        position: absolute;
        top: 1100px;
        left: 30px;
    }

    .laka {
        height: 350px;
        width: 500px;
    }

    .para {
        height: 0px;
        width: 420px;
        position: absolute;
        left: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px
    }

   

    .game {
        height: 0px;
        width: 100px;
        position: absolute;
        top: 1700px;
        left: 180px;
    }

    .sahm {
        height: 0px;
        width: 0px;
        position: absolute;
        top: 1880px;
        left: 690px;
        mix-blend-mode: darken;
    }

    .wel {
        height: 170px;
        width: 350px;
        position: absolute;
        mix-blend-mode: difference;
        top: 360px;
        left: 65px;
    }

    .sal {
        height: 250px;
        width: 400px;
        position: absolute;
        top: 1380px;
        left: 40px;
        mix-blend-mode: darken
    }

    .tell {
        width: 400px;
        position: absolute;
        top: 1350px;
        left: 30px;
        font-size: 27px;
        font-family: Impact;
    }

    .molo {
        height: 300px;
        width: 400px;
        position: absolute;
        top: 2350px;
        left: 50px;
        mix-blend-mode: darken;
    }

    .div01 {
        height: 650px;
        width: 480px;
        background-color: yellow;
        border: 0px black solid;
        position: absolute;
        top: 2500px;
        opacity: 0.7;
    }

    .gmail {
        height: 0px;
        width: 250px;
        position: absolute;
        top: 2999px;
        left: 85px;
        font-size: 25px;
        color: blue;
        font-family: Constantia;
        cursor: grab;
    }

    .isti {
        height: 0px;
        width: 300px;
        position: absolute;
        top: 2540px;
        left: 60px;
        font-size: 27px;
        font-family: Bahnschrift;
    }

    .sahm {
        height: 0px;
        width: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        mix-blend-mode: luminosity;
        opacity: 1;
    }

    .conver {
        height: 300px;
        width: 480px;
        position: absolute;
        top: 2670px;
        left: 0px;
        mix-blend-mode: darken;
    }

    .pp {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 30px;
        margin: 0px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    

    .img14 {
        height: 200px;
        width: 350px;
        position: absolute;
        top: 1000px;
        left: 100px;
        mix-blend-mode: multiply;
    }
    .copyright {
        width: 200px;
        position: absolute;
        top: 3090px;
        left: 120px;
        opacity: 1;
        color: black;
    }
    .gif {
        height: 170px;
        width: 170px;
        position: absolute;
        top: 900px;
        right: 0px;
        mix-blend-mode: darken;
        opacity: 0px;
    }

    .web2 {
        width: 100px;
        position: absolute;
        top: 1280px;
        left: 170px;
        background-color: mediumvioletred;
        border: 3px black solid;
        cursor: grab;
        border-radius: 5px;
    }

    .movie03 {
        width:390px;
        position: absolute;
        top: 1180px;
        overflow-x:hidden;
        left:9px;
        font-size:25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
